{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <div class="container">
        <div class="main__container">
            <a href="{{ path('manager') }}" class="btn__primary btn__primary--link">Acceder</a>
        </div>
    </div>
{% endblock %}
